.deps
.libs
.perf
Makefile
Makefile.in
aclocal.m4
autom4te.cache
autoscan.log
config.cache
config.h
config.h.in
config.log
config.status
config.guess
config.sub
configure
configure.scan
compile
depcomp
doltcompile
doltlibtool
libtool
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
releases
stamp-h
stamp-h1
stamp-h.in
*~
.*.sw?
*.o
*.la
*.lo
*.orig
*.rej
*.xidmap
.vimrc
src/xydiff
src/xydelta
ar-lib
ltmain.sh
install-sh
